body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  background-color: lightgray;
}

.loginSection {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.logo {
  height: 20px;
}

.button {
  width: 20%;
}

.customCont {
  border-color: white;
}
